{% load static %}
<footer>
    <!-- Footer Start-->
    <div class="footer-main" style="background-color:white;">
        <!-- footer-bottom area -->
        <div class="footer-bottom-area" style="background-color:white;">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-12">
                            <div class="footer-copy-right text-center" style="color:black; font-weight:bold;">
                                <p>
                                    <!-- Copyright removed -->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>

<!-- Search modal Begin -->
<div class="search-model-box">
    <div class="d-flex align-items-center h-100 justify-content-center">
        <div class="search-close-btn">+</div>
        <form class="search-model-form" method="get" action="{% url 'search_news' %}">
            <input type="text" id="search-input" name="query" placeholder="Search by title or category">
            <button type="submit">Search</button>
        </form>
    </div>
</div>
<!-- Search modal end -->
