# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg

# Django
*.sqlite3
db.sqlite3
/media/
*.log
/staticfiles/
.env
*.pot
*.mo

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# PyCharm
.idea/
